aniso8601==9.0.1
annotated-types==0.7.0
apispec==6.6.1
apispec-webframeworks==1.1.0
arrow==1.3.0
asttokens==2.4.1
attrs==24.2.0
Automat==24.8.1
bidict==0.23.1
binaryornot==0.4.4
blinker==1.8.2
boto3==1.34.113
botocore==1.34.162
branca==0.8.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.2
constantly==23.10.4
contourpy==1.3.0
cookiecutter==2.6.0
cycler==0.12.1
debugpy==1.8.7
decorator==5.1.1
deepdiff==7.0.1
dnspython==2.7.0
et-xmlfile==1.1.0
executing==2.1.0
fastjsonschema==2.20.0
filelock==3.16.1
Flask==3.0.3
Flask-Cors==5.0.0
Flask-RESTful==0.3.10
Flask-SocketIO==5.3.6
folium==0.17.0
fonttools==4.54.1
fsspec==2024.9.0
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
gevent==24.2.1
gevent-websocket==0.10.1
gitignore_parser==0.1.11
google-ai-generativelanguage==0.6.10
google-api-core==2.21.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
googleapis-common-protos==1.65.0
greenlet==3.1.1
grpcio==1.66.2
grpcio-status==1.66.2
h11==0.14.0
httplib2==0.22.0
huggingface-hub==0.25.2
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
ipykernel==6.29.5
ipython==8.28.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.7
kthread==0.2.3
lz4==4.3.3
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==3.0.1
marshmallow==3.21.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mpmath==1.3.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
numpy==2.1.2
openpyxl==3.1.2
ordered-set==4.1.0
packaging==24.1
pandas==2.2.2
parso==0.8.4
passlib==1.7.4
pathvalidate==3.2.1
pillow==10.4.0
pinecone==5.3.1
pinecone-plugin-assistant==0.3.0
pinecone-plugin-inference==1.1.0
pinecone-plugin-interface==0.0.7
platformdirs==4.3.6
plotly==5.24.1
prompt_toolkit==3.0.48
proto-plus==1.24.0
protobuf==4.25.5
protoc-gen-openapiv2==0.0.1
psutil==6.0.0
pure_eval==0.2.3
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.18.0
pymongo==4.7.2
pyogrio==0.10.0
pyparsing==3.1.4
pyproj==3.7.0
pyt==1.0.5
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.9.1
python-slugify==8.0.4
python-socketio==5.11.4
pytz==2024.1
pywin32==307
PyYAML==6.0.2
pyzmq==26.2.0
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
rich==13.9.2
rpds-py==0.20.0
rsa==4.9
s3transfer==0.10.3
safetensors==0.4.5
scipy==1.14.1
setuptools==75.1.0
shapely==2.0.6
simple-websocket==1.0.0
six==1.16.0
SQLAlchemy==2.0.30
stack-data==0.6.3
sympy==1.13.3
taipy==4.0.0
taipy-common==4.0.0
taipy-core==4.0.0
taipy-designer @ file:///C:/Users/ankin/Downloads/taipy-designer-eval/taipy_designer-1.2.0
taipy-gui==4.0.0
taipy-rest==4.0.0
taipy-templates==4.0.0
tenacity==9.0.0
text-unidecode==1.3
tokenizers==0.20.1
toml==0.10.2
torch==2.4.1
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.45.2
Twisted==24.7.0
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
uritemplate==4.1.1
urllib3==2.2.3
watchdog==4.0.1
wcwidth==0.2.13
Werkzeug==3.0.4
wsproto==1.2.0
xyzservices==2024.9.0
zope.event==5.0
zope.interface==7.1.0
